# General
DOMAIN_NAME=alechin.42.fr
USER_HOME=/home/furizalex

# MariaDB
DB_ROOT_PASS=root
DB_USER=alechin
DB_PASS=canopy
DB_NAME=wordpress

# WordPress
WORDPRESS_URL=alechin.42.fr
WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=alechin
WORDPRESS_ADMIN_PASSWORD=alechin
WORDPRESS_ADMIN_EMAIL=alechin@student.42kl.edu.my
WORDPRESS_NORMAL_USER=alex
WORDPRESS_NORMAL_PASS=alex
WORDPRESS_NORMAL_EMAIL=burner@example.com