# General
DOMAIN_NAME=
USER_HOME=

# MariaDB
DB_ROOT_PASS=
DB_USER=
DB_PASS=
DB_NAME=

# WordPress
WORDPRESS_URL=
WORDPRESS_TITLE=
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=
WORDPRESS_NORMAL_USER=
WORDPRESS_NORMAL_PASS=
WORDPRESS_NORMAL_EMAIL=